<section>
	<div class="page-header">
		<h2>O que é?</h2>
	</div>
	<div class="row span12">
		<p>
			Este site foi feito para monitorar a prefeitura de São Paulo, através de leitura de notícias no site da prefeitura de São Paulo vinculadas a palavra "haddad", o Transparência Prefis funciona como um agregador de notícias.
		</p>
		<p>
			Em breve vamos fazer estas notícias serem publicadas por uma aplicação no Facebook, tornando mais fácil para qualquer um acompanhar as notícias da Prefeitura de São Paulo.
		</p>
		<p>
			O Prefeitura Prefis já prevê facilitar a inclusão de novos "Scrappers" para outros sites de notícias como a Folha.com.br e o Estado.com.br.
		</p>
		<p>
			Futuramente podemos criar nuvem de palavras dos termos mais utlizados nos jornais e criar análises através de processamento de linguagem natural para identicar promessas, e outras informações relevantes.
		</p>
	</div>
</section>